In [1]:
# Importing the libraries
import nltk
import sklearn
import pandas as pd
import numpy as np
import string

In [2]:
# import the data set
dr="C:\\NLP in Python\\Sentiment Analysis Analytics Vidya"
df_test=pd.read_csv(dr+"\\test_tweets_anuFYb8.csv")
df_test.head()

# There are three columns
# 1: id
# 2: tweet (text form)

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [3]:
df_test.shape

(17197, 2)

In [4]:
# Cleaning the data set
# creating the stop word list
# Removing rows corresponding to stop word
# Stop word removal using inbuilt and custom list
from nltk.corpus import stopwords
stop = set(stopwords.words('english'))
stop2=list(stop)
stop2.extend(['@user','@user @user','&amp;','@user @user @user','-','u','Ã¢Â€Â“',
             'Ã¢Â€Â”','Ã¢Â€Â¦','Ã¢Â†Â','Ã¢ÂÂ¤','Ã¢ÂÂ¤Ã¯Â¸Â','Ã°ÂŸÂ’Â•','Ã°ÂŸÂ’Â¦Ã°ÂŸÂ’Â¦Ã°ÂŸÂ’Â¦',
             'Ã°ÂŸÂ”Â','Ã°ÂŸÂ”Â  #love','Ã°ÂŸÂ”Â  #love  #instagood',
             'Ã°ÂŸÂ˜','Ã°ÂŸÂ˜Â€','Ã°ÂŸÂ˜Â','Ã°ÂŸÂ˜Â‚','Ã°ÂŸÂ˜Â„',
            'Ã°ÂŸÂ˜ÂŠ','Ã°ÂŸÂ˜Â','Ã°ÂŸÂ˜Â”','Ã°ÂŸÂ˜Â˜','Ã°ÂŸÂ˜Â™Ã°ÂŸÂ˜ÂŽÃ°ÂŸÂ‘Â„Ã°ÂŸÂ‘',
            'Ã°ÂŸÂ˜Â™Ã°ÂŸÂ˜ÂŽÃ°ÂŸÂ‘Â„Ã°ÂŸÂ‘  Ã°ÂŸÂ’Â¦Ã°ÂŸÂ’Â¦Ã°ÂŸÂ’Â¦','Ã°ÂŸÂ˜Â¢',
             'Ã¢Â€Â¦','!!','!!!','Ã¢Â€Â¦',
             'Ã¢Â€Â¦',
'2',
'Ã°ÂŸÂ’Â¦Ã°ÂŸÂ’Â¦Ã°ÂŸÂ’Â¦',
'Ã°ÂŸÂ˜Â™Ã°ÂŸÂ˜ÂŽÃ°ÂŸÂ‘Â„Ã°ÂŸÂ‘  Ã°ÂŸÂ’Â¦Ã°ÂŸÂ’Â¦Ã°ÂŸÂ’Â¦',
'Ã°ÂŸÂ˜Â™Ã°ÂŸÂ˜ÂŽÃ°ÂŸÂ‘Â„Ã°ÂŸÂ‘',
'...','Ã¢Â†Â','4','1','3',
'Ã°ÂŸÂ˜ÂŠ','Ã¢ÂÂ¤Ã¯Â¸Â','.@user','#a','5',':(','Ã°ÂŸÂ˜Â','Ã¢Â€Â“',
'..','Ã°ÂŸÂ˜Â‚','Ã°ÂŸÂ˜Â”','10','Ã°ÂŸÂ˜Â','1st','7','Ã°ÂŸÂ˜Â¢','#Ã¢Â€Â¦','6',
'Ã°ÂŸÂ˜Â€','Ã°ÂŸÂ˜Â˜','Ã°ÂŸÂ’Â•','Ã°ÂŸÂ”Â','Ã¢ÂÂ¤','Ã°ÂŸÂ˜Â„',
'Ã°ÂŸÂ”Â  #love','50','2nd','8','Ã¢Â€Â”','Ã°ÂŸÂ˜','3d:',
'ð\x9f\x98\x99ð\x9f\x98\x8eð\x9f\x91\x84ð\x9f\x91  ð\x9f\x92¦ð\x9f\x92¦ð\x9f\x92¦',
              'Ã°ÂŸÂ˜Â™Ã°ÂŸÂ˜ÂŽÃ°ÂŸÂ‘Â„Ã°ÂŸÂ‘Â…Ã°ÂŸÂ’Â¦Ã°ÂŸÂ’Â¦Ã°ÂŸÂ’Â¦'
])

In [5]:
# We need to analyse the text data stored in the 'tweet' column
# Before that lets define some key functions
# Creating functions to do toeknisation and punctuation removal

# White space tokenizer
def tokenize(text):
    tokenizer = nltk.tokenize.WhitespaceTokenizer()
    token = []
    for item in text:
        token.append(tokenizer.tokenize(item))
        
    # Removing stop words
    ls_dummy1=[]
    ls_dummy2=[]
    temp=1
    for i in token:
        ls_dummy1=[]
        for j in i:
            if j in stop2:
                temp=1
            else:
                ls_dummy1.append(j)
        ls_dummy2.append(ls_dummy1)
    l3=ls_dummy2
        
    return l3

# Creating a function for removing the puntuation from text
def rem_punctuation(data_frame,colname):
    l3=[]
    l2=[i for i in data_frame[colname]]
    l3=tokenize(l2)

    # Removing the punctuations
    l5=[]
    l6=[]
    for j in l3:
        for k in j:
            if k in string.punctuation:
                temp=1
            else:
                l5.append(k)
        l6.append(l5)
        l5=[]
    c_ls=[" ".join(i) for i in l6]
    df1=pd.DataFrame(c_ls)
    df1.columns=['Text']
    return(df1)

# We will now create a function that takes in text and ngram list
# text/document is stores in a list
# list also specifies ngram paramter
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk import word_tokenize

# The function should take the column containing text data
def TF_NGRAM(data_frame,colname,ngram):
    # Tokenize the data
    DocID_ls=[]

    #Appending the Doc_ID column
    data_frame['Doc_ID']=[i for i in range(1,data_frame[colname].shape[0]+1)]


    from nltk import ngrams       
    l1=[]
    for i in data_frame['Doc_ID']:
        for k in data_frame[data_frame['Doc_ID']==i][colname]:
            for j in ngram:
                unigrams = ngrams(k.split(), j)
                for z in unigrams:
                    if j==1:
                        l1.append(z[0])
                    elif j==2:
                        l1.append(z[0] + " , " +z[1])
                    elif j==3:
                        l1.append(z[0] + " , " +z[1]+" , " +z[2])
                    elif j==4:
                        l1.append(z[0] + " , " +z[1]+" , " +z[2] +" , " +z[3])

                    DocID_ls.append(i)

    # Creating a Data Frame out of it

    s1=pd.Series(l1)
    s2=pd.Series(DocID_ls)
    df1=pd.DataFrame(s2)
    df1['s1']=s1
    df1.columns=['Doc_ID','Tokens']
    df1
    return(df1)

In [6]:
# If you look closely, there are certain characters such as Ã°ÂŸÂ’Â¦Ã°ÂŸÂ’Â¿Ã¢ÂœÂ (row 4 for instance)
# These are meaningless and hence they need to be removed
# Removing the special character/ascii character
twt=[str(i).encode('ascii', 'ignore').decode("utf-8") for i in df_test['tweet'] ]
df_test['tweet']=twt
df_test.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [8]:
# removing the special characters doesnt reduce the number of records 
df_test.shape

(17197, 2)

In [9]:
# Removing punctuations, stop words etc
df=rem_punctuation(df_test,'tweet')
df.head()

                                                Text
0  #studiolife #aislife #requires #passion #dedic...
1  #white #supremacists want everyone see new #bi...
2  safe ways heal #acne!! #altwaystoheal #healthy...
3  hp cursed child book reservations already? yes...
4  3rd #bihday amazing, hilarious #nephew eli ahm...

In [10]:
df['Doc_ID']=range(1,df.shape[0]+1)
df.head()

                                                Text  Doc_ID
0  #studiolife #aislife #requires #passion #dedic...       1
1  #white #supremacists want everyone see new #bi...       2
2  safe ways heal #acne!! #altwaystoheal #healthy...       3
3  hp cursed child book reservations already? yes...       4
4  3rd #bihday amazing, hilarious #nephew eli ahm...       5

In [11]:
df.shape
# So no rows were removed during punctuation and stop word removal

(17197, 2)

In [12]:
# Calculating the total number of blanks in df
#len(np.where(df['Text'].applymap(lambda x: x == ''))[0]) # 19 ff them
blnk_Doc_ID=df['Text']==""
df[blnk_Doc_ID].shape

# There are 9 Doc_ID which are blank after Removing punctuations, stop words etc

(9, 2)

In [13]:
# Storing the Doc_ID's that have blank in 'Text'
ls_blnk_Doc_ID=df[blnk_Doc_ID]['Doc_ID']
ls_blnk_Doc_ID

2425      2426
4157      4158
4187      4188
8776      8777
10079    10080
10511    10512
13016    13017
14155    14156
14348    14349
Name: Doc_ID, dtype: int32

In [14]:
# ngram frequency analysis
# checking the ngram distribution
ngram_df=TF_NGRAM(df,'Text',[1,2,3])
ngram_df.head()

   Doc_ID       Tokens
0       1  #studiolife
1       1     #aislife
2       1    #requires
3       1     #passion
4       1  #dedication

In [15]:
# checking the number of unique 'Doc_ID' in ngram_df
len(ngram_df['Doc_ID'].unique())

17188

In [16]:
# Replace all , in Tokens with ""
import re
ngram_df['Tokens']=ngram_df['Tokens'].apply(lambda x: re.sub(',','',x))
ngram_df.head()

   Doc_ID       Tokens
0       1  #studiolife
1       1     #aislife
2       1    #requires
3       1     #passion
4       1  #dedication

In [17]:
# If we add the Doc_ID  that had blanks in df, then we would get 17197 which is the 
# total count of Doc_ID in the input data

In [18]:
# Creating a Data Frame that has 'dummy' values for all Doc_ID
#ls_blnk_Doc_ID=list(blnk_Doc_ID)

blnk_df=pd.DataFrame(df['Doc_ID'],columns=['Doc_ID'])
blnk_df['Tokens']='dummy'
blnk_df.head()

   Doc_ID Tokens
0       1  dummy
1       2  dummy
2       3  dummy
3       4  dummy
4       5  dummy

In [19]:
# Binding ngram_df and blnk_df row wise
ngram_df2=pd.concat([ngram_df,blnk_df],axis=0)
len(ngram_df2['Doc_ID'].unique())
# Now all the Doc_IDs are present

17197

In [20]:
# Creating a summary at Doc_ID and Tokens level
ngram_df2['Frequency']=1
ngram_df0=ngram_df2.groupby(['Doc_ID','Tokens'])['Frequency'].sum().reset_index()
ngram_df0.head()

   Doc_ID                         Tokens  Frequency
0       1                       #aislife          1
1       1            #aislife  #requires          1
2       1  #aislife  #requires  #passion          1
3       1                    #dedication          1
4       1        #dedication  #willpower          1

In [27]:
# Reading the tokens obtained during the analyses of train data set
# They are stored in the token.csv
token=pd.read_csv(dr+"\\tokens.csv")
token=[i for i in token['index']]
len(token)

871

In [28]:
# Creating the DTM
# Taking 'material','money','benefits' as Features

pos=[i in token for i in ngram_df0['Tokens']] # filtering on the tokens given in 'token' list
ngram_df_DTM0=ngram_df0[pos]
ngram_df_DTM0.head()

    Doc_ID    Tokens  Frequency
19       1     dummy          1
20       1      find          1
33       2     dummy          1
34       2  everyone          1
38       2       new          1

In [29]:
# Pivotting df3 
ngram_df_DTM0=ngram_df_DTM0.pivot(index='Doc_ID',columns='Tokens',values='Frequency').fillna(0).reset_index()
ngram_df_DTM0.head()

Tokens,Doc_ID,#2016,#affirmation,#affirmations,#allahsoil,#altwaystoheal,#altwaystoheal #healthy,#amazing,#anxiety,#awesome,...,year,years,yes,yet,yo,you,you!,you.,you?,young
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
ngram_df_DTM0.shape
# ngram_df_DTM has all the Doc_IDs

(17197, 872)

In [33]:
df_test.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [31]:
# Adding the lebel column to ngram_df_DTM
# Joining this with the 'id' column from input data frame(df_test) to bring in the labels 

# LEFT JOIN
ngram_df_DTM=pd.merge(ngram_df_DTM0,df_test,left_on='Doc_ID',right_on='id',how='left')
ngram_df_DTM.shape

(17197, 874)

In [32]:
# Saving ngram_df_DTM into a csv file so that the other program can use it
ngram_df_DTM.to_csv("C:\\NLP in Python\\Sentiment Analysis Analytics Vidya\\test_DTM.csv")